[Desktop Entry]
Type=Application
Name=System Update
Icon=system-software-update
Exec=/usr/bin/true
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.SystemUpdate
