[Desktop Entry]
Type=Application
Name=Nvtop
Icon=video-display
Exec=/home/rifle/.local/bin/hyprshell launch/tui --app-id org.tui.Nvtop --title Nvtop -- nvtop
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.Nvtop
