[Desktop Entry]
Type=Application
Name=Oryx
Icon=preferences-system-network
Exec=/usr/bin/true
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.Oryx
