[Desktop Entry]
Type=Application
Name=LazyGit
Icon=/home/rifle/.local/share/icons/Nordzy/apps/scalable/git.svg
Exec=/home/rifle/.local/bin/hyprshell launch/tui --app-id org.tui.LazyGit --title LazyGit -- lazygit
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.LazyGit
