[Desktop Entry]
Type=Application
Name=Wiremix
Icon=multimedia-volume-control
Exec=/home/rifle/.local/bin/hyprshell launch/tui --app-id org.tui.Wiremix --title Wiremix -- wiremix
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.Wiremix
