[Desktop Entry]
Type=Application
Name=GameMode Status
Comment=Display Feral GameMode status
Icon=applications-games
Exec=/home/rifle/.local/bin/hyprshell launch/terminal-present --app-id org.tui.GameMode --title GameMode -- gamemoded -s
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.GameMode
Keywords=GameMode;Gaming;Status;
