[Desktop Entry]
Type=Application
Name=Bluetui
Icon=bluetooth
Exec=/home/rifle/.local/bin/hyprshell launch/bluetooth
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.Bluetui
