[Desktop Entry]
Type=Application
Name=File Finder
Icon=system-search
Exec=/usr/bin/true
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.FileFinder
