[Desktop Entry]
Type=Application
Name=Htop
Icon=utilities-system-monitor
Exec=/usr/bin/true
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.Htop
