[Desktop Entry]
Type=Application
Name=File Finder
Icon=system-search
Exec=/home/rifle/.local/bin/hyprshell launch/file-finder
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.FileFinder
