[Desktop Entry]
Type=Application
Name=rmpc
GenericName=Rusty Music Player Client
Comment=Terminal-based MPD client
Icon=multimedia-player
Exec=/home/rifle/.local/bin/hyprshell launch/tui --app-id org.tui.Rmpc --title Rmpc -- /home/rifle/.config/rmpc/lib/launch
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.Rmpc
Categories=AudioVideo;Audio;Player;Music;
Keywords=Music;Audio;Player;
