[Desktop Entry]
Type=Application
Name=System Monitor
Icon=utilities-system-monitor
Exec=/home/rifle/.local/bin/hyprshell util/sysmon-launch
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.Sysmonitor
