[Desktop Entry]
Type=Application
Name=Htop
Icon=utilities-system-monitor
Exec=/home/rifle/.local/bin/hyprshell launch/tui --app-id org.tui.Htop --title Htop -- htop
Terminal=false
NoDisplay=true
StartupWMClass=org.tui.Htop
