[Desktop Entry]
Type=Application
Name=Tiled Terminal Application
Icon=utilities-terminal
Exec=/usr/bin/true
Terminal=false
NoDisplay=true
StartupWMClass=TUI.tile
