[Unit]
Description=Quickshell bar
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Environment=QS_NO_RELOAD_POPUP=1
ExecStart=/usr/bin/quickshell
Restart=always
RestartSec=1
KillMode=mixed
TimeoutStopSec=5
