[Unit]
Description=Automatic power profile switcher
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/lib/hypr/system/powerprofiles.auto.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
