/* Dynamic Properties */
/*
"../" Use relative path from styles/ to waybar/
*/

@import "../includes/global.css";
@import "../includes/font.css";
@import "../includes/border-radius.css";
@import "../theme.css";

/* ============================================
   BASE STYLES
   ============================================ */

* {
  font-size: 16px;
  box-shadow: none;
  text-shadow: none;
  color: @fg;
  padding: 0px;
  margin: 0px;
}

window#waybar {
  background: alpha(@bg, 0.8);
  border-left: 1px solid alpha(@bg, 0.1);
  border-radius: 0px;
}

/* ============================================
   MENUS & TOOLTIPS
   ============================================ */

menu {
  background: alpha(@bg, 0.9);
  /* border: 2px solid alpha(@c10, 0.6); */
  padding: 4px;
}

menuitem {
  border-radius: 0px;
  margin: 2px;
}

menuitem:hover {
  background-color: alpha(@c2, 0.6);
}
tooltip {
  border-radius: 6px;
  border: 2px solid alpha(@bg_selected, 0.6);
  background: alpha(@bg, 0.9);
}

tooltip label {
  padding: 14px;
  font-size: 14px;
  color: alpha(@fg, 0.9);
}

menu label {
  font-size: 10px;
  color: @fg;
  padding: 2px 0px;
}

/* ============================================
   LAYOUT SECTIONS
   ============================================ */

.modules-right,
.modules-left {
  margin: 2px;
  color: lighter(@fg_selected);
}

/* ============================================
   CLOCK & TIME
   ============================================ */

#clock {
  font-weight: bold;
  padding: 4px 2px 2px;
}

#clock.time {
  color: @accent_fg;
}

#clock.date {
  font-size: 14px;
  margin: 2px 2px 4px;
  background: transparent;
  border: 1px solid alpha(@c10, 0.9);
}

/* ============================================
   TERMINAL USER INTERFACES
   ============================================ */

#tui {
  margin-bottom: 2px;
}

#custom-terminal {
  font-size: 14px;
  color: @c9;
  padding-right: 6px;
}

#custom-updates {
  font-size: 14px;
  color: @c9;
  padding-right: 4px;
  margin: 4px 0px;
}

/* ============================================
   WORKSPACES
   ============================================ */

#workspaces {
  margin: 0px 2px 2px;
}

#workspaces button {
  transition-property: background-color;
  transition-duration: 0.5s;
  color: @fg;
  background: transparent;
  border-color: transparent;
}

#workspaces button.active {
  padding: 4px 0px;
  color: @fg_selected;
  background: alpha(@workspace_active_bg, 0.5);
  border: 1px solid @workspace_active_br;
  margin: 2px 0px;
}

#workspaces button.urgent {
  font-weight: bold;
  color: @c9;
  background: alpha(@warning_bg, 0.3);
}

#workspaces button:hover {
  color: @border;
}

/* ============================================
   WEATHER
   ============================================ */

#custom-weather {
  font-size: 12px;
  color: @c2;
}

#custom-weather.minmax {
  font-size: 12px;
  margin: 2px 3px;
  color: @fg;
  border: 1px solid alpha(@c4, 0.6);
}

#custom-weather.sunrise {
  font-size: 12px;
  margin: 2px 3px;
  border: none;
  border-left: 1px solid alpha(@c5, 0.3);
  border-bottom: 1px solid alpha(@c5, 0.3);
}

#custom-weather.sunset {
  font-size: 12px;
  margin: 2px 3px;
  border: none;
  border-top: 1px solid alpha(@c5, 0.3);
  border-right: 1px solid alpha(@c5, 0.3);
}

/* ============================================
   SYSTEM RESOURCES
   ============================================ */

#disk,
#memory,
#custom-gpuinfo,
#custom-cpuinfo,
#custom-fanspeedinfo {
  font-weight: bold;
  margin: 0px 2px 8px 8px;
  color: @c7;
  background: transparent;
  border: 1px solid alpha(@c7, 0.4);
  border-left: transparent;
  border-bottom: transparent;
  font-size: 12px;
  min-height: 0px;
}

#custom-dmark {
  font-weight: bold;
  color: @c7;
}

/* ============================================
   NETWORK
   ============================================ */

#custom-network.speed {
  font-size: 13px;
  padding: 0px 0px 0px 3px;
  margin: 2px 3px 4px 3px;
  border: 1px solid alpha(@warning_fg, 0.6);
  border-bottom: transparent;
  border-left: transparent;
  color: alpha(@accent_fg, 0.8);
}

#network.wifi,
#network.disabled,
#network.disconnected,
#network.ethernet {
  padding-right: 6px;
}

#custom-vpn {
  font-size: 18px;
  padding: 2px 2px 2px 0px;
}

#custom-hotspot {
  padding-right: 5px;
}

#custom-vpn.connected {
  color: @accent_fg;
}

#custom-vpn.connecting {
  color: alpha(@accent_fg, 0.7);
  animation-name: blink-active;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#custom-vpn.error {
  color: @error_fg;
}

/* ============================================
   BLUETOOTH
   ============================================ */

#bluetooth.connected {
  padding-right: 2px;
}

#bluetooth.status {
  color: alpha(@accent_fg, 0.7);
}

#bluetooth.discoverable,
#bluetooth.discovering {
  border-radius: 8px;
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* ============================================
   AUDIO
   ============================================ */

#custom-mediaplayer {
  margin: 2px 2px 4px;
  border-radius: 0px;
  border-left: 1px solid alpha(@hover, 0.7);
  color: alpha(@accent_fg, 0.7);
}

#pulseaudio {
  padding: 4px 2px 4px 0px;
  margin: 2px 2px 4px;
  background-color: alpha(@bg, 0.1);
  border: 1px solid alpha(@border, 0.3);
}

#pulseaudio.muted {
  background-color: alpha(@bg, 0.1);
  border: 1px solid alpha(@border, 0.3);
  padding-right: 2px;
}

#pulseaudio.microphone {
  background-color: alpha(@bg, 0.1);
  border: 1px solid alpha(@border, 0.3);
  padding: 3px 0px;
  margin-bottom: 2px;
}

#pulseaudio.microphone.source-muted {
  background-color: alpha(@bg, 0.3);
  border: 1px solid alpha(@border, 0.3);
  padding-right: 0px;
}

#pulseaudio-slider {
  padding: 4px 3px;
}

#pulseaudio-slider slider {
  background-color: transparent;
  box-shadow: none;
}

#pulseaudio-slider trough {
  margin: 0px;
  min-width: 32px;
  min-height: 4px;
  background-color: alpha(@bg, 0.2);
  border: 1px solid alpha(@c8, 0.2);
}

#pulseaudio-slider trough slider {
  min-height: 0px;
  min-width: 0px;
  border-radius: 50%;
  border-color: transparent;
  color: transparent;
  background-color: transparent;
}

#pulseaudio-slider highlight {
  background: alpha(@c11, 0.3);
}

/* ============================================
   BACKLIGHT
   ============================================ */

#backlight {
  font-size: 15px;
  padding: 4px 2px 4px 0px;
  margin: 2px 2px 4px;
  background: alpha(@bg, 0.1);
  border: 1px solid alpha(@border, 0.3);
}

#backlight-slider {
  padding: 4px 3px;
}

#backlight-slider slider {
  background-color: transparent;
  box-shadow: none;
}

#backlight-slider trough {
  margin: 0px;
  min-width: 32px;
  min-height: 4px;
  background-color: alpha(@bg, 0.2);
  border: 1px solid alpha(@c8, 0.2);
}

#backlight-slider trough slider {
  min-height: 0px;
  min-width: 0px;
  border-radius: 50%;
  border-color: transparent;
  color: transparent;
  background-color: transparent;
}

#backlight-slider highlight {
  background: alpha(@c11, 0.3);
}

/* ============================================
   BATTERY & POWER
   ============================================ */

#battery {
  border-radius: 8px;
  padding: 4px 0px;
  margin: 4px 2px 4px 2px;
}

#battery.discharging.warning {
  animation-name: blink-yellow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.discharging.critical {
  animation-name: blink-red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power {
  margin: 2px 2px 2px 2px;
  background: transparent;
}

#custom-powermenu {
  font-size: 18px;
  padding-right: 4px;
  margin: 0px 2px 2px;
}

#language {
  font-size: 12px;
  background-color: alpha(@bg, 0.3);
  border: solid 1px alpha(@fg, 0.5);
  padding: 3px 0px;
  margin: 0px 0px 4px;
}

#custom-hyprmenu {
  background-color: alpha(@bg_alt, 0.1);
  border: 1px solid alpha(@border_alt, 0.3);
  padding: 1px 1px 1px 0px;
}

/* ============================================
   NOTIFICATIONS
   ============================================ */

#screen,
#notification {
  margin: 2px 2px 4px 2px;
  border: 1px solid alpha(@border_alt, 0.3);
  background-color: alpha(@bg_alt, 0.1);
}

#custom-swaync {
  font-size: 15px;
  padding: 4px 2px 2px 0px;
  border: none;
}

#custom-github.notifications {
  background-color: alpha(@bg, 0.2);
  padding: 2px 6px 2px 0px;
  margin: 1px;
}

/* ============================================
   PRIVACY & SECURITY
   ============================================ */

#privacy {
  margin: 2px 2px 4px 2px;
  background: alpha(@c4, 0.1);
  border: 1px solid alpha(@c12, 0.3);
}

#privacy-item {
  padding: 6px 0px 6px 6px;
}

/* ============================================
   TRAY
   ============================================ */

#tray {
  font-size: 14px;
  padding-bottom: 6px;
  padding-top: 4px;
  margin: 2px 2px 4px 2px;
  background: alpha(@bg_alt, 0.1);
  border: 1px solid alpha(@border_alt, 0.3);
}

#tray > .needs-attention {
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* ============================================
   CUSTOM MODULES
   ============================================ */

#custom-caffeine:hover,
#custom-display:hover,
#custom-focusmode:hover,
#custom-keybindhint:hover,
#custom-colormode:hover,
#custom-themeswitch:hover,
#custom-wallchange:hover,
#custom-wbarswitch:hover,
#custom-cliphist:hover,
#custom-workflows:hover {
  color: @hover;
}

#custom-display {
  margin: 2px 0px 4px;
  padding-right: 4px;
}

#custom-focusmode {
  font-size: 17px;
  margin: 2px 0px 4px;
  padding-right: 2px;
}

#custom-keybindhint {
  font-size: 14px;
  margin: 2px 0px 4px;
  padding-right: 6px;
}

#custom-colormode {
  font-size: 15px;
  padding-right: 3px;
}

#custom-themeswitch {
  font-size: 15px;
  margin: 2px 0px 4px;
  padding-right: 3px;
}

#custom-wallchange {
  margin: 2px 0px 4px;
  padding-right: 1px;
}

#custom-wbarswitch {
  margin: 2px 0px 4px;
  padding-right: 2px;
}

#custom-cliphist {
  margin: 2px 0px 4px;
  font-size: 15px;
}

#custom-workflows {
  margin: 2px 0px 4px;
}

#custom-caffeine {
  margin: 2px 0px 4px;
  padding-right: 2px;
}

#custom-colorpicker {
  font-size: 10px;
  background-color: alpha(@bg, 0.3);
  border: solid 1px alpha(@fg, 0.5);
  padding: 3px 0px;
  margin: 0px 0px 4px;
}

#custom-colorpicker.empty {
  padding-right: 7px;
}

#custom-screenshot {
  padding-right: 4px;
  background-color: alpha(@bg, 0.2);
  margin: 1px 0px 2px;
}

#custom-screenrecord {
  color: @c11;
  font-size: 20px;
}

#custom-screenrecord.recording {
  animation-name: blink-red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-hyprsunset {
  margin: 2px;
  background-color: alpha(@bg, 0.3);
  border: 1px solid alpha(@border, 0.3);
  font-size: 14px;
  padding: 4px 0px 4px 8px;
}

#custom-mark {
  font-weight: bold;
  color: @c8;
}

/* ============================================
   SUBMAP & OTHER STATES
   ============================================ */

#submap {
  margin-bottom: 0px;
  min-width: 0px;
  margin: 4px;
  background: alpha(@c4, 0.1);
  border: 1px solid alpha(@c12, 0.3);
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#forever,
#together {
  margin: 2px 2px 4px 2px;
  background: alpha(@bg_alt, 0.1);
  border: 1px solid alpha(@border_alt, 0.3);
}

#web,
#wireless {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* ============================================
   ANIMATIONS
   ============================================ */

@keyframes blink-active {
  to {
    background-color: @c12;
    color: @bg;
  }
}

@keyframes blink-red {
  to {
    background-color: @c9;
    color: @bg;
  }
}

@keyframes blink-yellow {
  to {
    background-color: @c11;
    color: @bg;
  }
}
