* {
    main-bg:            #1B1D22B3;
    main-fg:            #CCDBFFE6;
    main-br:            #AE7D76E6;
    main-ex:            #575D6AE6;
    select-bg:          #F0B9AA80;
    select-fg:          #523129E6;
}
