.floating-notifications {
  margin: 4px 10px;
}

.floating-notifications.background .notification-row .notification-background {
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background .notification {
  background: alpha(@bg-primary, 0.9);
  padding: 8px;
  border: 1px solid @border-primary;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 2px solid @accent-red;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  background-color: @bg-secondary;
  border: 1px solid transparent;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @accent-yellow;
  border: 1px solid @border-primary;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @border-primary;
  color: @bg-primary;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @border-primary;
  color: @bg-primary;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @border-primary;
  color: @bg-primary;
}
