
@define-color fg-primary #abb2bf;
@define-color fg-secondary #828997;

@define-color bg-primary #282c34;
@define-color bg-secondary #21252b;
@define-color bg-tertiary #2c313a;

@define-color accent-red #e06c75;
@define-color accent-green #98c379;
@define-color accent-yellow #e5c07b;
@define-color accent-blue #61afef;
@define-color accent-purple #c678dd;
@define-color accent-aqua #56b6c2;
@define-color accent-orange #d19a66;

@define-color border-primary #3e4451;
@define-color border-secondary #5c6370;

@define-color gray #5c6370;
